<li>
  <%= gravatar_for user, size: 50 %>
  
  <% if user.admin %>
    管理者 |
  <% end %>
  
  <%= link_to user.name, user %>
  
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to '基本時間設定', controller: 'users', action: 'besic_info', id: user.id, from: 'i' %>
    | <%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <% end %>
</li>